style.css



table {
    width: 125%;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 1.20 em;
    margin-left: 150px;
  }
  th, td {
    padding: .8em;
    min-width: 3.5em;
    margin-left: 150px;

    
  }
  thead {
    background: lightblue;
    color: black;
    
  }

  h1 {
    text-align: center;
    background: lightyellow;
    border-style:solid;
    padding: 15px;
    margin-right:550px;
    margin-left: 50px;
}

h2{
    margin-left: 120px;

}
Footer{

    margin-left: 515px;
    
}

div{
    margin-left: 125px;

}